@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Concert+One&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Commissioner:wght@100..900&family=Concert+One&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Spice&family=Commissioner:wght@100..900&family=Concert+One&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Spice&family=Commissioner:wght@100..900&family=Concert+One&family=Hind+Siliguri:wght@300;400;500;600;700&family=Inder&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Spice&family=Commissioner:wght@100..900&family=Concert+One&family=Hind+Siliguri:wght@300;400;500;600;700&family=Inder&family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Spice&family=Commissioner:wght@100..900&family=Concert+One&family=Hind+Siliguri:wght@300;400;500;600;700&family=Inder&family=Lalezar&family=Sen:wght@400..800&display=swap');

/*html {
    scroll-behavior: smooth;
}
.scroller {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroller section {
    scroll-snap-align: start;
}*/
body{
    overflow-x: hidden;
}
#header-things{

}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FF4853;
    border-radius: 10px;
}
.header{
    background-color: #111017;
    position: sticky;
    overflow: hidden;
    width: 100%;
    height: 70px;
    top: 0;
}
#headerlogo {
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 25px;
}
.header-logo-name{
    display: inline-block;
    color: white;
    font-family: "Arial Black";
    font-size: 25px;

    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    left: 80px;
}

#navigation-pages{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 25px;
    margin: 0;
    padding: 0;
}
#navigation-pages>a{
    margin-left: 40px;
}
a:link,a:visited{
    color: white;
    font-size: larger;
    font-family: Helvetica;
    text-decoration: none;
}
a:hover{
    color: #FF4853;
    transition: ease-in-out 300ms;
}
#hero{
    background-color: #0D0C12;
    position: relative;
    height: 550px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}
#mainTitle>h3>div>span {
    font-family: "Arial Black", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FF4853;
}

.words {
    width: 500px;
    height: 40px;
    top: 100px;
    position: absolute;
    left: 30px;
    overflow: hidden;
}

#mainTitle>h3>div>span {
    display: block;
    animation: spin_words 6s infinite;
}
@keyframes spin_words {
    10% {
        transform: translateY(-112%);
    }
    25% {
        transform: translateY(-100%);
    }
    35% {
        transform: translateY(-212%);
    }
    50% {
        transform: translateY(-200%);
    }
    60% {
        transform: translateY(-312%);
    }
    75% {
        transform: translateY(-300%);
    }
    85% {
        transform: translateY(-412%);
    }
    100% {
        transform: translateY(-400%);
    }
}

.socialIcons{
    display: grid;
    place-items: center;
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 80px;
}
#fb>svg>g:hover,#fb{
    fill: #FF4853;
}

#myImage>img{
    height: 90vh;
    width: 45vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    margin: auto;

}

.homeTitles{
    height: 400px;
    width: 650px;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 230px;
    margin: auto;
}
#welcomeTitle{
    font-weight: bold;
    font-size: 25px;
    color: white;
    font-family: "Arial Narrow";
    margin-top: 20px;
    height: 0;

}
#mainTitle{
    font-family: "Arial Black";
    font-weight: bold;
    color: white;
    font-size: 30px;
    height: 60px;
}
#custom-pro{
    color: #FF4853;
}
#description{
    color: white;
    font-size: 25px;
    font-family:"Arial Narrow";
    margin-top: 30px;
}
.contactButtons{
    height: 0;
}
#btn-portfolio{
    border-radius: 25px;
    background-color: #17151F;
    color: white;
    height: 40px;
    width: 130px;
    text-align: right;
    padding-right: 10px;
}
#btn-contact{
    border-radius: 25px;
    background-color: #17151F;
    color: white;
    height: 40px;
    width: 120px;
    text-align: right;
    padding-right: 10px;
}
#idIcon{
    height: 20px;
    width: 20px;
    position:relative;
    top: 3px;
    right: 120px;

}
#phoneIcon{
    height: 20px;
    width: 20px;
    position:relative;
    top: 3px;
    right: 110px;
}
#aboutMe{
    background-color: #100F16;
    position: relative;
    height: 620px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}
#Aboutimage>img{
    height: 90%;
    width: 30%;
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 100px;
    margin: auto;
}
#aboutTitles>h2{
    color: white;
    font-family: Bungee Inline,static;
    font-size: 35px;
    text-decoration: underline;

    position: absolute;
    top: 50px;
    right: 300px;
    bottom: 0;
    left: auto;
    margin: auto;
}
#aboutTitles>p{
    color: white;
    font-family: "Arial Narrow";
    font-size: 25px;
    position: absolute;
    top: 120px;
    right: 50px;
    bottom: 0;
    left: auto;
    margin: auto;
}
#aboutName{
    color: #FF4853;
}
#special-lang{
    color: #FF4853;
}
#se{
    color: #FF4853;
}
#see-gallery{
    background-color: #17151F;
    position: absolute;
    top: 150px;
    right: 600px;
    left:auto;
    bottom: 0;
    margin: auto;

    border-radius: 25px;
    color: white;
    height: 40px;
    width: 155px;
    text-align: right;
    padding-right: 10px;
}
#gallery-icon{
    height: 20px;
    width: 20px;
    position:absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 100px;
    margin: auto;
}
.education{
    background-color: #14121B;
    height: 100vh;
    width: 100%;

}
.education-header{
    background-color: #191721;
    display: inline-block;
    position: relative;
    width: 77vw;
    height: 70px;
    top: 20px;
    bottom: 0;
    left: 12vw;;
    margin: auto;
    border-radius: 20px;
    font-family: Lalezar;
}
.education-header>div>div{
    display:inline-block;
    position: relative;
    line-height: 70px;
    padding-right: 45px;
    padding-left: 30px;
    font-size: 25px;
    font-family: "Arial Black";
}
.edu-links>div{
    color: white;
}
.edu-links>div:hover{
    color: #FF4853;
    cursor: pointer;
    transition: ease-in-out 300ms;

}
.educationbottom{
    height: 100px;
    width: 500px;
}
.container{
    position: relative;
    max-width: 500px;
    width: 100%;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
}
.skill-container .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: block;
    margin-top: 20px;
    font-size: 14px;
    font-family: Inder;
    color: White;
}
.skill-box .skill-bar{
    height: 8px;
    width: 70%;
    margin-top: 2px;
    border-radius: 6px;
    background: grey;
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    border-radius: 6px;
    background: #FF4853;
    animation: progress 0.50s ease-in-out forwards;
}
.skill-per-html{
    width: 90%;
}
.skill-per-css{
    width: 85%;
}
.skill-per-js{
    width: 85%;
}
.skill-per-software{
    width: 80%;
}
.skill-per-plugin{
    width: 75%;
}
.skill-per-figma{
    width: 90%;
}
.skill-per-xd{
    width: 60%;
}
.skill-per-ps{
    width: 95%;
}
.skill-per-ail{
    width: 45%;
}
.skill-per-design{
    width: 98%;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tool-tip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 11px;
    font-family: Arial;
    font-weight: bold;
    color: black;
    padding: 2px 6px;
    border-radius: 3px;
    background: #FFFF;
    z-index: 1;
}
.tool-tip::before{
    content: '';
    position: absolute;
    left: 35%;
    top: 13px;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #FFFF;
    transform: translateY(-50%) rotate(45deg);
}
.skill-sliders{
    display: grid;
    grid-template-columns: 32vw 32vw 30vw;
    position: relative;
    top: 10px;
    left: 15%;
    right: 0;
    gap: 0;
}
.developmentSkill>p{
    color: #FF4853;
    font-family: Inder;
    font-size: 20px;
    position: relative;
    top: 45px;
}
.developmentSkill>h3{
    font-family: "Concert One";
    font-size: 40px;
    color: white;
    font-weight: 100;
}
.designSkills>p{
    color: #FF4853;
    font-family: Inder;
    font-size: 20px;
    position: relative;
    top: 45px;
}
.designSkills>h3{
    font-family: Concert One;
    font-size: 40px;
    color: white;
    font-weight: 100;
}
#skill-image {
    height: 420px;
    width: 420px;
}
.item3{
    width: 400px;
    position: relative;
    top: 30px;
    right: 50px;
    margin-left: 0;
}

.developmentSkillIcons>img{
    width: 60px;
    height: 60px;
    position: relative;
    top: 20px;
    left: 65px;
}
.designSkillIcons>img{
    width: 60px;
    height: 60px;
    position: relative;
    top: -45px;
    left: 500px;
}

/*Education Section*/
.education-qualification{
    background-color:#14121B ;
    width: 100%;
    height: 50vh;
    position: relative;
    top: 30px;
    left: 32vw;
}
.education-q-eader>h3{
    color: white;
    font-family: Bungee Inline, static;
    font-size: 35px;
    font-weight: 500;

    position: relative;
    top: 0;
    margin: auto;
    text-align: center;
}
.education-q-eader>hr{
    width: 150px;
    position: relative;
    margin-top: 0;
    align-items: center;
}
.education-q-eader>p{
    color: #FF4853;
    font-family: Hannari;
    position: relative;
    margin-top: -5px;
    text-align: center;
}

.edu-qualification-body{
    display: grid;
    grid-template-columns:300px 300px 300px;
    justify-content: center;
}

.edu-qualification-body>div{
    height: 172px;
    width: 249px;
    border-radius: 20px;
    background-color: #0B0A12;

    color: #FFF;
    text-align: center;

    position: relative;
    top: 20px;
    margin-bottom: 20px;
}
.edu-qualification-body>div>h5{
    color: #FF4853;
    font-size: 20px;


    margin: 0;
    padding-top: 10px;
}
.edu-qualification-body>div>p{
    width: 200px;
    height: 120px;

    padding-top: 15px;

    position: relative;
    margin: auto;

    font-family: sen;
    font-size: 12px;

}
.edu-qualification-body>div>hr{
    margin-bottom: 0;
    padding-bottom: 0;
}
.uniImages{
    text-align: center;
    width: 800px;
}
.uniImages>img{
    display: inline-block;
    height: 80px;
    width: 160px;

    position: relative;
    left: -150px;
    top: 20px;
    margin: auto;
    padding-left: 0;
    padding-right: 50px;

}

/*Experience Section*/
.experience{
    background-color:#14121B ;
    width: 100%;
    height: 100vh;
    position: absolute;
}
.experience-tree{
    position: relative;
    left: 350px;
    top: 80px;
}
.experience-tree>#main-line{
    width: 700px;
    height: 5px;
    background-color: #8C3439;
    align-content: center;
    position: relative;
    right: 250px;
    top: 200px;

}
.sub-line{
    height: 80px;
    width: 2px;
    background-color: #8C3439;
    position: absolute;
}
#sub-line-1{
    top: 120px;
    right: 692px;
}
#sub-line-2{
    top: 200px;
    right: 556px;
}
#sub-line-3{
    top: 120px;
    right: 412px;
}
#sub-line-4{
    top: 200px;
    right: 262px;
}
#sub-line-5{
    top: 120px;
    right: 111px;
}
.circle{
    background-color: #8C3439;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: relative;
}
#circle-1{
    top: 190px;
    left: -200px;
}
#circle-2{
    top: 175px;
    right: 65px;
}
#circle-3{
    top: 160px;
    right: -80px;
}
#circle-4{
    top: 145px;
    right: -230px;
}
#circle-5{
    top: 130px;
    right: -380px;
}
#ex-image-back{
    /*background-color: #0B0A12;
    width: 400px;
    height: 75vh;
    border-radius: 10%;

    position: relative;
    top: -680px;
    left: 930px;
    right: 50px;
    align-content: center;*/
}
#experience-image{
    height: 75vh;
    width: 380px;
    position:relative;
    bottom: 680px;
    right: 40px;
    left: 900px;
}
.experience-box{
    height: 130px;
    width: 200px;
    background-color: #0B0A12;
    border-radius: 15% 15% 15% 15%;

    position: relative;

}
#experience-box-1{
    bottom: 90px;
    right: 280px;
}
#experience-box-2{
    top:  70px;
    right: 160px;
}
#experience-box-3{
    bottom: 350px;
    right: 10px;
}
#experience-box-4{
    bottom: 190px;
    right: -135px;
}
#experience-box-5{
    bottom: 600px;
    right: -285px;
}
.assignmentSquare{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 80px;


    position: relative;
    top: 80px;
    left: 45%;
}
.assignment-square{
    background-color: #0B0A12;
    width: 170px;
    height: 170px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    border:#FFFFFF solid 2px;
}
.assignment-square>p{
    line-height: 130px;
    color: #FF4853;
    font-family: Inder;
    font-size: 20px;

}
.assignment-square:hover{
    background-color:#0E0C16;
    border:#FF4853 solid 2px;
    transition: ease-in-out 0.2s ;

}
.assignment-square>p:hover{
    color: #FFFFFF;
    transition: ease-in-out 0.2s ;
}
.contact-form{

}
.contactForm>h3{
    height: fit-content;
    width: fit-content;
    position: relative;
    left: 0;
    right: 0;
    top: 5px;
    margin: auto;

    color: #FFFF;
    font-family: "Concert One" ;
    font-size: 35px;
    font-weight: 20;
}
.contactForm>hr{
    width: 100px;
}
.Portfolio{
    background-color: #191721;
    height: 100vh;
    width: 100%;

}
.portfolio-header{
    text-align: center;
}
.portfolio-header>h3{
    margin: 0;
    position: relative;
    top: 10px;
    font-family: Bungee Inline, static;
    font-size: 30px;
    font-weight: 50;
    color: #FFFFFF;
}
.portfolio-header>hr{
    width: 220px;
    position: relative;
    top: 3px;
}
.portfolio-header>p{
    color: #FF4853;
    font-size: 13px;
    position: relative;
    top: -5px;
}
.content-row-1{
    display: flex;
    flex-direction: column;
}






.Clients{
    background-color: #14121B;
    height: 100vh;
    width: 100%;
}
.clientHeader{
    text-align: center;
}
.clientHeader>h3{
    margin: 0;
    position: relative;
    top: 10px;
    font-family: Bungee Inline, static;
    font-size: 30px;
    font-weight: 50;
    color: #FFFFFF;
}
.clientHeader>hr{
    width: 160px;
    position: relative;
    top: 3px;
}
.clientHeader>p{
    color: #FF4853;
    font-size: 13px;
    position: relative;
    top: -5px;
}
.Contact{
    background-color: #100F16;
    height: 100vh;
    width: 100%;
}
.footer{
    background-color: #0D0C12;
    height: 40vh;
    width: 100%;
}
